<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.CFRAT" version="1.0" android-versionCode="1001" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CFRAT</name>
    
	<description>
        PhoneGap app for CFRAT.
    </description>
    
	<author email="info@54degreeesdesign.com" href="https://54degreesdesign.com/">
        54 Team
    </author>
    
	<content src="index.html" />
    <access origin="*" />

    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
	<plugin name="cordova-plugin-inappbrowser-wkwebview"/>
	<plugin name="cordova-plugin-wkwebview-engine"/>
	
	<!-- White list alowed sites-->
	<!-- Allow all unrecognized URLs to open installed apps -->
	<allow-intent href="https://www.54degreesdesign.com" />
	
	<!-- Add Onesignal push -->
	<!-- <plugin name="onesignal-cordova-plugin" spec="^2.4.1" source="npm" /> -->

	<!-- Requires cli-8.0.0 but we recommend using the latest version. -->
	<preference name="phonegap-version" value="cli-8.0.0" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="android-minSdkVersion" value="15" />

	<!-- CFRAT App Icon -->
	<icon src="www/icon.png" />

	<!-- IOS Icon set -->
	<platform name="ios">
	<icon src="res/icon/ios/icon-1024.png" width="1024" height="1024"/>
	<icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
	<icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
	<icon src="res/icon/ios/icon-small@3x.png" width="87" height="87"/>
	<icon src="res/icon/ios/icon-small-40.png" width="40" height="40"/>
	<icon src="res/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
	<icon src="res/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
	<icon src="res/icon/ios/icon-small-50.png" width="50" height="50"/>
	<icon src="res/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
	<icon src="res/icon/ios/icon.png" width="57" height="57"/>
	<icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
	<icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
	<icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
	<icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
	<icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
	<icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
	<icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
	<icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
	<icon src="res/icon/ios/icon-167.png" width="167" height="167"/>
	<icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167"/>
	</platform>
	
	<!--Android Icon set -->
	<platform name="android">
	<preference name="SplashMaintainAspectRatio" value="true"/>
	<preference name="SplashShowOnlyFirstTime" value="true"/>
	<icon density="ldpi" src="res/icon/android/ldpi.png"/>
	<icon density="mdpi" src="res/icon/android/mdpi.png"/>
	<icon density="hdpi" src="res/icon/android/hdpi.png"/>
	<icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
	<icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
	<icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
	
	</platform>
	
	<!-- Use android 8 plus-->
	<preference name="android-minSdkVersion" value="26" />
    
</widget>
